REPO_URL="https://github.com/flakeman/team-cli-tracker.git"
REPO_DIR="/opt/team-cli-tracker"
REPO_BRANCH="main"

APP_USER="teamtracker"
APP_GROUP="teamtracker"
GO_VERSION="1.25.0"

NODE_ID="node-2"
NODE_LISTEN_ADDR="/ip4/0.0.0.0/tcp/4102"
NODE_PEERS="node-1,node-3"

