REPO_URL="https://github.com/flakeman/team-cli-tracker.git"
REPO_DIR="/opt/team-cli-tracker"
REPO_BRANCH="main"

APP_USER="teamtracker"
APP_GROUP="teamtracker"
GO_VERSION="1.25.0"
INTERNAL_DNS="172.16.254.254"

NODE_ID="srv1"
NODE_LISTEN_ADDR="/ip4/0.0.0.0/tcp/4101"
NODE_PEERS="srv2,srv3"
